body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: tan;
}
button{
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: rgb(131, 91, 38);
    color: white;
    margin-bottom: 1rem;
    border: none;
}

button:hover{
    scale: 1.1;
}
button:active{
    background-color: rgb(97, 58, 31);
}

li{
    width: fit-content;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

#bean-reasons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#signup-form-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#signup-form{
    background: linear-gradient(rgb(148, 85, 43), rgb(197, 153, 95));
    color: white;
    text-align: start;
    font-weight: bolder;
    border-radius: 1rem;
    height:fit-content;
    width: fit-content;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(1rem 1rem 0 rgba(61, 23, 18, 0.747));
}

.signup-field{
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 1rem;
}
